@if(showForm){
<div class="flex items-center justify-center p-12">
    <div class="mx-auto w-full max-w-[550px] bg-white">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-input [type]="InputType.Text" [label]="'Name'" formControlName="name"></app-input>
            <app-input [type]="InputType.Textarea" [label]="'Description'" formControlName="description"></app-input>
            <app-input [type]="InputType.Text" [label]="'Route'" formControlName="route"></app-input>
            <app-input [type]="InputType.Text" [label]="'Navigation Text'" formControlName="navigationText"></app-input>
            <app-input [type]="InputType.Checkbox" [options]="isAdmin" formControlName="isAdmin"></app-input>

            <div>
                <button
                    class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
}
@else {
<app-grid></app-grid>
}