<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow" style="width: 100%; max-width: 400px">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">
                Map Projects
            </h4>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class=" mb-3">
                    <label for="userId" class="form-label">Select a user:</label>
                    <select id="userId" class="form-select" formControlName="userId">
                        <option value="">Choose...</option>
                        @for(user of users; track user.id){
                        <option [value]="user.id">
                            {{ user.name }}
                        </option>
                        }
                    </select>
                </div>
                @if(userId.value){
                <div class="mb-3">
                    <label for="user" class="form-label">Select projects:</label>
                    @for(project of projects;track project.id){
                    <mat-checkbox id="{{project.name}}" color="primary" class="form-control"
                        (change)="onSelectionChange($event, project)">
                        <label for="{{project.name}}" class="form-label">{{project.name}}</label>
                    </mat-checkbox>
                    }
                </div>
                }
                <div class="d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>