<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow" style="width: 100%; max-width: 400px">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">
                Map Projects
            </h4>
            <div class="mb-3">
                <label for="user" class="form-label">Select a user</label>
                <select id="user" class="form-select" [formControl]="user">
                    <option value="">Choose...</option>
                    @for(user of users; track user.id){
                    <option [value]="user.id">
                        {{ user.name }}
                    </option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>