<div class="flex items-center justify-center p-12">
    <div class="mx-auto w-full max-w-[550px] bg-white">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-input [type]="InputType.Dropdown" [label]="'Select a user'" [options]="users"
                formControlName="userId"></app-input>
            @if(userId.value){
            <div class="mb-5">
                <div class="flex items-center space-x-6">
                    <label class="block text-base font-medium text-[#07074D]">Select projects:</label>
                    @for(project of projects;track project.id){
                    <div class="flex items-center align-middle">
                        <input [checked]="setSelection(project.id ?? '')" (change)="onSelectionChange($event, project)"
                            type="checkbox" name="{{project.name}}" id="{{project.name}}"
                            class="h-5 w-5 cursor-pointer" />
                        <label for="{{project.name}}" class="pl-3 text-base font-medium text-[#07074D]">
                            {{project.name}}
                        </label>
                    </div>
                    }
                </div>
            </div>
            }
            <div>
                <button [disabled]="form.invalid"
                    class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>