@if(showForm){
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow" style="width: 100%; max-width: 400px">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">
                {{ item ? "Update" : "Add" }}
            </h4>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input id="name" class="form-control" formControlName="name" />
                    @if(isInvalid(form,"name")){
                    <small class="text-danger">{{ getErrorMessage(form, "name") }}</small>
                    }
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <select id="status" class="form-select" formControlName="status">
                        <option value="">Choose...</option>
                        @for(status of statuses; track status){
                        <option [value]="status">
                            {{ status }}
                        </option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="website" class="form-label">Website:</label>
                    <select id="website" class="form-select" formControlName="website">
                        <option value="">Choose...</option>
                        @for(website of websites; track website){
                        <option [value]="website">
                            {{ website }}
                        </option>
                        }
                    </select>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">
                        {{ item ? "Update" : "Add" }}
                    </button>
                    <button (click)="refresh()" class="btn">
                        Back
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
} @else {
<button (click)="getRandomGame()" class="btn btn-primary mb-3">
    Pick random Game
</button>
<app-grid [showDeleteAll]="false"></app-grid>
}

<div class="modal fade" id="pickedGameDialog" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Hope you enjoy this!!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {{gameDetail?.name}}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>