@if(showForm){
<div class="flex items-center justify-center p-12">
    <div class="mx-auto w-full max-w-[550px] bg-white">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-input [type]="InputType.Text" [label]="'Name'" formControlName="name"></app-input>
            <app-input [type]="InputType.Dropdown" [label]="'Status'" [options]="statuses"
                formControlName="status"></app-input>
            <app-input [type]="InputType.Dropdown" [label]="'Website'" [options]="websites"
                formControlName="website"></app-input>

            <div class="flex justify-between">
                <button [disabled]="form.invalid"
                    class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    Submit
                </button>
                <button (click)="showForm=false"
                    class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    Back
                </button>
            </div>
        </form>
    </div>
</div>
} @else {
<app-grid></app-grid>
}

<div class="modal fade" id="pickedGameDialog" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Hope you enjoy this!!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {{gameDetail?.name}}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>