<div class="mat-elevation-z8">
  <div class="d-flex justify-content-end">
    <label for="searchInput" class="form-label">Search:</label>
    <input id="searchInput" class="form-control" formControlName="searchInput" />
    <div class="justify-content-end py-3">
      @if(showAdd()){
      <button class="btn btn-primary mx-1" (click)="add()">Add</button>
      }

      @if(selection.hasValue() && selection.selected.length == 1 && showEdit()){
      <button class="btn btn-primary mx-1" (click)="edit()">Edit</button>
      } @if(selection.hasValue() && showDelete()){
      <button class="btn btn-danger" (click)="onDelete()">Delete</button>
      }
    </div>
  </div>
  <table mat-table [dataSource]="dataSource">
    @for(column of displayedColumns;track column){
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>
        @if(column == "select"){
        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null" [checked]="isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
        } @else{
        <b>{{ column }}</b>
        }
      </th>
      <td mat-cell *matCellDef="let element">
        @if(column =="select"){
        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
        </mat-checkbox>
        } @else{
        {{ element[column | camelCase] }}
        }
      </td>
    </ng-container>
    }

    <!-- Table Header & Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSize]="pageSize" [length]="length" [pageSizeOptions]="[5, 10, 50, 100]"
    showFirstLastButtons></mat-paginator>
</div>