<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow" style="width: 100%; max-width: 400px">
    <div class="card-body">
      <h4 class="card-title text-center mb-4">Change Password</h4>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="oldPassword" class="form-label">Old Password</label>
          <input id="oldPassword" type="password" class="form-control" formControlName="oldPassword" />
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password:</label>
          <input id="newPassword" type="password" class="form-control" formControlName="password" />
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password:</label>
          <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword" />
        </div>

        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
            Submit
          </button>
          <button class="btn btn-danger" routerLink="/home">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>