<div class="flex items-center justify-center p-12">
  <div class="mx-auto w-full max-w-[550px] bg-white">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-input [type]="InputType.Password" [label]="'Old Password'" formControlName="oldPassword"></app-input>
      <app-input [type]="InputType.Password" [label]="'New Password'" formControlName="password"></app-input>
      <app-input [type]="InputType.Password" [label]="'Confirm Password'" formControlName="confirmPassword"></app-input>

      <div class="flex justify-between">
        <button [disabled]="form.invalid"
          class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
          Submit
        </button>
        <input type="button" (click)="goHome()" value="Cancel"
          class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
      </div>
    </form>
  </div>
</div>