@if(showForm){
<div class="flex items-center justify-center p-12">
    <!-- Author: FormBold Team -->
    <div class="mx-auto w-full max-w-[550px] bg-white">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-input [type]="InputType.Text" [label]="'Title'" formControlName="title"></app-input>
            <app-input [type]="InputType.Textarea" [label]="'Description'" formControlName="description"></app-input>
            <app-input [type]="InputType.Dropdown" [label]="'To User'" [options]="users"
                formControlName="toUserId"></app-input>
            <app-input [type]="InputType.Dropdown" [label]="'Transaction Type'" [options]="transactionTypes"
                formControlName="transactionType"></app-input>
            <app-input [type]="InputType.Number" [label]="'Total Amount'" [min]="0"
                formControlName="totalAmount"></app-input>
            <app-input [type]="InputType.Date" [label]="'Transaction Date'"
                formControlName="transactionDate"></app-input>
            <app-input [type]="InputType.Number" [label]="'Settled Amount'" [min]="0"
                formControlName="settledAmount"></app-input>
            <app-input [type]="InputType.Number" [label]="'Amount to Settle'" [min]="0"
                formControlName="amountToSettle"></app-input>
            <app-input [type]="InputType.Checkbox" [options]="isSettled" formControlName="isSettled"></app-input>
            <app-input [type]="InputType.Date" [label]="'Settlement Date'" formControlName="settlementDate"></app-input>
            <app-input [type]="InputType.Date" [label]="'Expected Settlement Date'"
                formControlName="expectedSettlementDate"></app-input>

            <div>
                <button
                    class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
} @else {
<app-grid></app-grid>
}