<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-input [type]="InputType.Text" [label]="'Name'" formControlName="name"></app-input>
  <app-input [type]="InputType.Text" [label]="'Username'" formControlName="username"></app-input>
  @if(!user()){
  <app-input [type]="InputType.Password" [label]="'Password'" formControlName="password"></app-input>
  <app-input [type]="InputType.Password" [label]="'Confirm Password'" formControlName="confirmPassword"></app-input>
  }
  <app-input [type]="InputType.Text" [label]="'Email Id'" formControlName="emailId"></app-input>
  <app-input [type]="InputType.Text" [label]="'Contact Number'" formControlName="contactNumber"></app-input>

  <div class="flex justify-between items-center">
    <button [disabled]="form.invalid"
      class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
      Submit
    </button>
    @if(!user()){
    <u><a href="#" routerLink="/login">Already have an account? Login</a></u>
    }
    @if(back()){
    <button
      class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
      Back
    </button>
    }
  </div>
</form>