<div class="market-timer">

    <div
        class="status"
        [class.open]="marketStatus() === 'OPEN'"
        [class.closed]="marketStatus() === 'CLOSED'">

        {{ marketStatus() === 'OPEN'
            ? '🟢 Market Open'
            : '🔴 Market Closed' }}

    </div>

    <div class="countdown">

        {{ marketTimer() }}

    </div>

</div>

<div class="dashboard-header">

  <div class="wallet-card">

    <div class="title">

      💵 Available Cash

    </div>

    <div class="amount">

      ₹ {{ availableCash() | number:'1.0-0' }}

    </div>

  </div>

</div>

<div class="container">

    <table>

        <thead>

            <tr>

                <th>Symbol</th>

                <th>Price</th>

                <th>% Change</th>

                <th>VWAP</th>

                <th>EMA 9</th>

                <th>EMA 21</th>

                <th>RSI</th>

                <th>Signal</th>

                <th>Risk</th>

                <th>Stop Loss</th>

                <th>Target Price</th>

                <th>Reason</th>

            </tr>

        </thead>

        <tbody>

            @for (stock of gainer(); track stock.symbol) {

            <tr>

                <td>
                    {{ stock.symbol }}
                </td>

                <td>
                    {{ stock.currentPrice | number:'1.2-2' }}
                </td>

                <td [class.positive]="stock.changePercent >= 0" [class.negative]="stock.changePercent < 0">

                    {{ stock.changePercent }}%

                </td>

                <td>

                    {{ stock.vwap | number:'1.2-2' }}

                </td>

                <td>

                    {{ stock.emA9 | number:'1.2-2' }}

                </td>

                <td>

                    {{ stock.emA21 | number:'1.2-2' }}

                </td>

                <td>

                    {{ stock.rsi | number:'1.0-0' }}

                </td>

                <td>

                    <span class="signal" [ngClass]="{
                            'buy': stock.signal === 'BUY',
                            'sell': stock.signal === 'SELL',
                            'hold': stock.signal === 'HOLD'
                        }">

                        {{ stock.signal }}

                    </span>

                </td>

                <td>

                    {{ stock.risk }}

                </td>

                <td>

                    {{ stock.stopLoss | number:'1.2-2' }}

                </td>

                <td>

                    {{ stock.targetPrice | number:'1.2-2' }}

                </td>

                <td>

                    {{ stock.reason }}

                </td>

            </tr>

            }

        </tbody>

    </table>

</div>