.profile-img {
  height: 50px;
  width: 50px;
}

main {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  height: 600px;
  overflow-y: scroll;
}

.logo {
  height: 50px;
  width: 180px;
}